/Cinema Room Manager/task/build/reports/tests/test/css/base-style.css
/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/Cinema Room Manager/task/build/classes/java/main/cinema/Cinema.class
/Cinema Room Manager/task/out/production/classes/cinema/Cinema.class
/Cinema Room Manager/task/build/classes/java/test/CinemaTests.class
/Cinema Room Manager/task/build/reports/tests/test/classes/CinemaTests.html
/Cinema Room Manager/task/test/CinemaTests.java
/.gradle/6.6.1/javaCompile/classAnalysis.bin
/course-info.yaml
/course-remote-info.yaml
/Cinema Room Manager/task/build/reports/tests/test/packages/default-package.html
/.gradle/6.6.1/executionHistory/executionHistory.bin
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/6.6.1/executionHistory/executionHistory.lock
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.6.1/fileContent/fileContent.lock
/.gradle/6.6.1/fileHashes/fileHashes.bin
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.6.1/fileHashes/fileHashes.lock
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.6.1/gc.properties
/.gradle/6.7/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/Cinema Room Manager/task/build/reports/tests/test/index.html
/Cinema Room Manager/task/build/tmp/test/jar_extract_466056228385294277_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_732717431796280795_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_2030252911134672592_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_5100170699181863473_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_8397259781544266997_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_8907916643582368559_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_9342885510958669665_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_11231401553323717502_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_12314209873948724808_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_13840087719123429557_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_15491302740524121147_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_16163113770193558490_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_18386727194351946179_tmp
/.gradle/6.6.1/javaCompile/jarAnalysis.bin
/.gradle/6.6.1/javaCompile/javaCompile.lock
/.gradle/6.6.1/fileChanges/last-build.bin
/.gradle/6.7/fileChanges/last-build.bin
/Cinema Room Manager/lesson-info.yaml
/Problems/lesson-info.yaml
/Problems/Only true or false/src/Main.java
/Problems/Vowel or not/src/Main.java
/.gradle/checksums/md5-checksums.bin
/Cinema Room Manager/task/build/test-results/test/binary/output.bin
/Cinema Room Manager/task/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/Cinema Room Manager/task/build/reports/tests/test/js/report.js
/.gradle/6.6.1/fileHashes/resourceHashesCache.bin
/Cinema Room Manager/task/build/test-results/test/binary/results.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Cinema Room Manager/task/build/tmp/compileJava/source-classes-mapping.txt
/Cinema Room Manager/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Cinema Room Manager/task/build/reports/tests/test/css/style.css
/Cinema Room Manager/Arrangement/task.html
/Cinema Room Manager/Errors_/task.html
/Cinema Room Manager/Menu, please_/task.html
/Cinema Room Manager/Sold_/task.html
/Cinema Room Manager/Tickets/task.html
/Problems/Only true or false/task.html
/Problems/Vowel or not/task.html
/Cinema Room Manager/Arrangement/task-info.yaml
/Cinema Room Manager/Errors_/task-info.yaml
/Cinema Room Manager/Menu, please_/task-info.yaml
/Cinema Room Manager/Sold_/task-info.yaml
/Cinema Room Manager/Tickets/task-info.yaml
/Problems/Only true or false/task-info.yaml
/Problems/Vowel or not/task-info.yaml
/Cinema Room Manager/Arrangement/task-remote-info.yaml
/Cinema Room Manager/Errors_/task-remote-info.yaml
/Cinema Room Manager/Menu, please_/task-remote-info.yaml
/Cinema Room Manager/Sold_/task-remote-info.yaml
/Cinema Room Manager/Tickets/task-remote-info.yaml
/Problems/Only true or false/task-remote-info.yaml
/Problems/Vowel or not/task-remote-info.yaml
/.gradle/6.6.1/javaCompile/taskHistory.bin
/Cinema Room Manager/task/build/test-results/test/TEST-CinemaTests.xml
